package home

import (
	"github.com/abdoroot/subscription/views/layouts"
)

templ Index() {
	@layouts.AdminApp() {
		<p class="text-gray-700">Welcome to the admin panel. This is the Dashboard.</p>
	}
}
